/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



/* Messages */
.alert {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    text-align: center;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}  


/* HEADER */

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}

header .header-milieu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

header .header-milieu li {
    margin: 0 15px;
}

header .header-milieu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

header .header-gauche,
header .header-droite {
    display: flex;
    align-items: center;
}

header .header-gauche img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
}

header .header-droite li {
    margin: 0 15px;
}

header .header-droite li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

nav ul li {
    list-style: none;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

header li a:hover  {
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3);
}



/* Home */
.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carouselImgAcceuil {
    max-width: 80%;
    width: 80%;
    margin-top:100px;
}

#carouselImgAcceuil .carousel-inner img {
    height: 60vh; 
    object-fit: cover; 
}

#carouselPrdouitsAcceuil .carousel-inner img {
    height: 35vh; 
    object-fit: cover; 
}

.categories-vedette {
    display: flex;
    justify-content: space-around;
    width: 35%;
    padding: 20px 0;
}

.text-center a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

.text-center {
    padding: 20px;
}

.text-center img {
    max-height: 300px;
    object-fit: cover;
}

.input-group {
    width: 150px;
}

.btn-outline-primary {
    width: 30%;
}

.text-center a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.text-center a p {
    margin: 0;
}


.text-center a:hover {
    background-color: #f0f0f0ee;
    text-decoration: none; 
}

.texte-doree{
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3);
}

/* .div-img-vedette{
    width: 400px!important;
    height: 400px !important;
} */
