/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37) !important;;
    --danger: #ff4136;
}

/* Assurez-vous que le menu dropdown reste caché par défaut */
.nav-item.dropdown .dropdown-menu {
    display: none;
}

/* Afficher le dropdown lors du survol du menu parent */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    width:auto !important;
}

/* Personnalisation du style du dropdown */
.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 0.375rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.dropdown-item {
    padding: 10px 20px;
    color: #333;
}

.related-products-card a {
    text-decoration: none !important; 
    color: inherit !important;
}

a {
    text-decoration: none !important; 
}
.texte-doree{
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

/* Supprimer fleche dans input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Breadcrumb */

.breadcrumb-container {
    margin-bottom: 20px; 
    padding: 10px 15px;
    margin-top: 100px;
}


.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}


.breadcrumb-item {
    margin-right: 10px;
    position: relative;
}


.breadcrumb-item a {
    text-decoration: none;
    color: #6c757d; 
    transition: color 0.3s ease-in-out;
}

.breadcrumb-item a:hover {
    color: #d4af37; 
}


.breadcrumb-item.active {
    font-weight: bold;
    color: #495057;
}

.breadcrumb-item::after {
    content: '>'; 
    color: #6c757d; 
    margin-left: 10px;
    font-size: 14px;
}

.breadcrumb-item:last-child::after, .breadcrumb-item:last-child::before, .breadcrumb-item::before  {
    content: '' !important;
}

/* Boutique */

.product-card {
    border: 1px solid #f0f0f0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
    transition: transform 0.2s ease, filter 0.2s ease;
    border-radius: 15px;
}

.product-card:hover .product-image {
    transform: scale(1.015);
    filter: brightness(0.92);
}



/* Bouton Ajouter */
.btn-gold-hover {
    background: linear-gradient(45deg, #d4af37, #b8860b);
    color: #fff;
    border: none !important; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-gold-hover:hover {
    background: linear-gradient(45deg, #c1a15a, #d4af37);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.related-products {
    margin-top: 50px;
}

.related-products h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.related-products .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.related-products .card:hover {
    transform: translateY(-10px);
}

.related-products .card img {
    height: 200px;
    object-fit: cover;
}

.related-products .card-body {
    text-align: center;
}

.related-products .btn {
    background-color: #d4af37;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.related-products .btn:hover {
    background-color: #b8952b;
}




/* Titres */
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}


hr {
    height: 2px;
    border: none !important;
    margin: 0 auto;
    background: 
    linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
}

.trait-doree{
    margin-bottom:50px;
    width: 150px; 
    height: 3px; 
    background: 
    linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    opacity: 0.5;
    margin: 0 auto;
}

.trait-doree-produit {
    margin: 50px auto;
    width: 85%;
    height: 3px;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    border-radius: 2px;
    opacity: 0.5;
}
.product-card-produit {
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.product-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}


/* Titres */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}


/* Messages */
.alert {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    text-align: center;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}  


/* HEADER */

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}

header .header-milieu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

header .header-milieu li {
    margin: 0 15px;
}

header .header-milieu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

header .header-gauche,
header .header-droite {
    display: flex;
    align-items: center;
}

header .header-gauche img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
}

header .header-droite li {
    margin: 0 15px;
}

header .header-droite li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

nav ul li {
    list-style: none;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

header li a:hover  {
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    display: inline !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3) !important;
}


/* Footer */
.footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
}

.footer a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
    border: none !important;
    font-weight: bold;
}

.footer a:hover {
    color: #d4af37; /* Couleur de survol */
}

.footer .bi-facebook, .footer .bi-instagram {
    transition: transform 0.3s ease;
}

.footer .bi-facebook:hover, .footer .bi-instagram:hover {
    transform: scale(1.2); /* Agrandir légèrement au survol */
}




/* Home */
.categories-vedette h3 a{
    text-decoration : none;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3);
}
.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carouselImgAcceuil {
    max-width: 70%;
    width: 70%;
    margin-top:100px;
}

#carouselImgAcceuil .carousel-inner img {
    height: 60vh; 
    object-fit: cover; 
}

#carouselPrdouitsAcceuil .carousel-inner img {
    height: 35vh; 
    object-fit: cover; 
}

.categories-vedette {
    display: flex;
    justify-content: space-around;
    width: 35%;
    padding: 20px 0;
}

.text-center a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

.text-center {
    padding: 20px;
}

.text-center img {
    max-height: 300px;
    object-fit: cover;
}

.input-group {
    width: 150px;
}

.btn-outline-primary {
    background: #fff !important;
    color: #d4af37 !important;
    width: 50%;
}

.btn-outline-primary:hover {
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37)!important;
    color: #fff !important; /* Utilisez !important si nécessaire pour éviter les conflits */
    border-color: transparent; /* Facultatif : ajustez si nécessaire */
}


.text-center a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.text-center a p {
    margin: 0;
}


.text-center a:hover {
    background-color: #f0f0f0ee;
    text-decoration: none; 
}


/* Newsletter Section */
.newsletter-section {
    background-color: #ffedda;
    border: solid;
    border-width: 2px;
    border-color: #000;
    width: 100%;
}

.newsletter-title h3 {
    color: #000;
    margin: 0;
}

.newsletter-text p {
    font-size: 1.1rem;
    color: #000;
    margin: 0;
    text-align: center;
}

.newsletter-button .btn-primary {
    background: #000;
    border-color: #000;
    color: white;
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

.newsletter-button .btn-primary:hover {
    background: white;
    border: solid;
    border-color: #000;
    color: #000;
}






/* Styles communs pour les pages de formulaire */
.form-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #d4af37;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Titres principaux */
.form-container h1,
.form-container h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    position: relative;
}

/* Ligne dorée sous les titres */
.form-container h1::after,
.form-container h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    margin: 10px auto 0;
    border-radius: 2px;
}

form {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

/* Styles des labels */
.form-container label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    font-size: 1rem;
}

/* Champs de formulaire */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    color: #495057;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus sur les champs */
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
    border-color: #d4af37; /* Couleur dorée */
    box-shadow: 0 0 8px rgba(212, 175, 55, 0.5); /* Effet lumineux */
}

/* Boutons */
.form-container button[type="submit"],
.form-container button[type="button"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Effet hover sur les boutons */
.form-container button[type="submit"]:hover,
.form-container button[type="button"]:hover {
    background: linear-gradient(45deg, #b8860b, #d4af37, #c1a15a);
    transform: scale(1.02); /* Légère augmentation de la taille */
}

.form-container .btn-black {
    background: #000 !important;
    border: 2px solid !important;
    border-color: #000 !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 40px !important;
    padding: 5px 10px !important;
}

.form-container .btn-black:hover {
    background: white !important;
    border: 2px solid !important;
    border-color: #000 !important;
    color: #000 !important;
}

/* Bouton retour secondaire */
.form-container a.btn-secondary {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a);
    color: white;
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-container a.btn-secondary:hover {
    background: linear-gradient(45deg, #b8860b, #d4af37, #c1a15a);
    transform: scale(1.02);
}

.form-container i {
    margin-right: 5px;
}

/* Liens */
.form-container p {
    text-align: center;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #495057;
}

.form-container p a {
    color: #d4af37; /* Couleur dorée */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.form-container p a:hover {
    color: #b8860b;
}

.form-container .category-tag, .form-container .remove-category {
    background: none;
    color: black;
    text-decoration: underline
}

.form-container .category-tag:hover,
.form-container .category-tag:hover .remove-category {
    color: #d4af37;
}

.form-container .image-card:hover {
    border: 2px solid #d4af37;
}

.form-container .border-primary {
    border: 4px solid #ccc !important;
    border-radius: 8px;
    width: 70%;
}

.form-container .form-check-input:checked {
    background-color: black;
    border-color: #000;
}

.form-container .btn-close:hover {
    color: var(--bs-btn-close-color);
    text-decoration: none;
    opacity: var(--bs-btn-close-hover-opacity);
}


/* Historique */

.container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 40px;
    position: relative;
}

.container h1::after {
    content: '';
    display: block;
    width: 120px;
    height: 5px;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    margin: 10px auto 0;
}


.history-order-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}


.history-order-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}


.history-order-table {
    margin-bottom: 20px;
}

.history-order-table th, 
.history-order-table td {
    text-align: left;
    vertical-align: middle;
    padding: 8px;
    font-size: 0.9rem;
}

.history-order-table th {
    background-color: #f9f9f9;
    font-weight: bold;
    color: #333;
}

.history-order-total {
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.history-order-button {
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 25px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
}



/* Styles pour les pages */
/* Container principal */
.page-container {
    max-width: 50%;
    margin: 100px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: 'Arial', sans-serif;
}

/* Titre principal */
.page-container h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 40px;
    position: relative;
}

.page-container h1::after {
    content: '';
    display: block;
    width: 120px;
    height: 5px;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    margin: 10px auto 0;
}

/* Sections */
.page-content h2 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    -webkit-background-clip: text;
    color: transparent;
}

.page-content h3 {
    font-size: 1.3rem;
    color: #000;
    margin-top:50px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a, #d4af37);
    -webkit-background-clip: text;
    color: transparent;
}

.page-content p {
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
}

/* Listes */
.page-content ul {
    list-style: none;
    padding-left: 0;
}

.page-content li {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #333;
    padding-left: 20px;
    position: relative;
}

.page-content li::before {
    content: '•';
    color: #d4af37;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
}


/* Liens */
.page-content a {
    color: #d4af37;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.page-content a:hover {
    color: #b8860b;
}

/* Grille pour les articles */
.page-content .row {
    display: flex;
    flex-wrap: wrap;
}

.page-content .btn-warning {
    color: white;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a);
}

.page-content .btn-warning:hover{
    color: white;
    background: linear-gradient(45deg, #b8860b, #d4af37, #c1a15a);
    transform: scale(1.02);
}

.page-content .btn-success, .page-content .btn-success:hover{
    color: white;
}

.page-content .btn-danger, .page-content .btn-danger:hover{
    color: white;
}

/* Chaque carte d'article */
.page-content .card {
    width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet au survol d'une carte */
.page-content .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Image de la carte */
.page-content .card-img-top {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Corps de la carte */
.page-content .card-body {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    color: #333;
}

/* Titre de l'article */
.page-content .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Texte de publication */
.page-content .text-muted {
    font-size: 0.9rem;
    color: #777;
}

/* Extrait du texte de l'article */
.page-content .card-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

/* Bouton de lecture */
.page-content .btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(45deg, #d4af37, #b8860b, #c1a15a);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Effet au survol du bouton de lecture */
.page-content .btn-primary:hover {
    color : #FFF;
    background: linear-gradient(45deg, #b8860b, #d4af37, #c1a15a);
}

.page-content .image-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}




/* Styles pour la page FAQ */
.faq-content h3:nth-child(odd), .faq-content p:nth-child(even):not(:empty) {
    text-align: left;
}

.faq-content h3:nth-child(even), .faq-content p:nth-child(odd):not(:empty) {
   text-align: right;
}


/* Styles pour la page Blog */
.blog-image {
    margin: 20px 0;
    text-align: center;
}

.blog-image img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Style pour la date de publication */
.blog-date {
    text-align: right;
    font-size: 0.9rem;
    color: #888;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-style: italic;
}


/* Articles Admin */
.admin .page-container {
    max-width: 70% !important;
}

/* Quill */
#editor {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 900px;
    margin-bottom: 20px;
}

/* Style de la scrollbar */
#editor::-webkit-scrollbar {
    width: 8px;
}

#editor::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#editor::-webkit-scrollbar-thumb {
    background: #b8860b;
    border-radius: 5px;
}

#editor::-webkit-scrollbar-thumb:hover {
    background: #d4af37;
}



/* Preview */
#previewContent {
    height: 50%;
    overflow-y: scroll;
}



/* Images Ajout */
.image-card {
    border: 2px solid transparent;
    transition: border-color 0.3s;
    max-width: 200px;
    margin: 5px auto;
    cursor: pointer;
}

.image-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-card:hover {
    border: 2px solid #007bff;
}

.border-primary {
    border: 10px solid #007bff !important;
}

/* Style global pour les conteneurs */
#media-library {
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}